h1 {
    border: solid;
    width: 300px;
    color: red;
    margin-bottom: 25px;
    padding: 5px;
    text-align: center;
    background-color: sandybrown;
    box-shadow: 10px 5px 5px;
    border-radius: 30px;
}

img {
    border: 3px solid red;
    width: 300px;
    padding: 0px;
    background-color: sandybrown;
    box-shadow: 10px 5px 5px sandybrown;
    border-radius: 10px;
    margin-bottom: 25px;
  }
  
  
.box {
 border: 2px solid red;
 border-radius: 5px;
 background-color: sandybrown;
 width: 300px;
 height: 250px;
 padding: 5px 5px 5px 5px;
 margin: 0px;
 box-shadow: 10px 5px 5px sandybrown;
  }

.column {
    list-style-type: none;
    padding: 0;
  }
